body {
  width: 380px;
  border: 2px solid grey;
  margin: 0;
}
ul {
  list-style-type:none;
  margin-left:-20px;
  width:300px;
}
ul li {
  height:30px;
  font-size: 14px;
}
.line-item {
  width: 25px;
  height: 20px;
  display: inline-block;
  padding:7px 5px 4px 5px;
}
.line-item-text {
  display: inline-block;
  width: 65px;
  height: 18px;margin: 0;
  padding: 7px 6px 6px 6px;
}
.inline-item {
  margin-bottom:5px
}
.border1 {
  border: 1px solid grey;
}
.borderRight1 {
  border-right: 1px solid grey;
}
.reloadBtn {
  width: 60px;
}
.checkbox {
  vertical-align: middle;
  margin-top:0;
}
